.places {
    margin: 0 148px 92px;
    display: flex;
    gap: 80px;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .places {
        margin: 0 48px 92px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        margin: 0 24px 90px;
        row-gap: 73px;
    }
}

@media screen and (max-width: 700px) {
    .places {
        margin: 0 0 66px;
        gap: 50px;
    }
}