.intro {
    padding: 92px 148px;
    width: 77%;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .intro {
        padding-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        padding: 88px 24px;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .intro {
        padding: 64px 16px;
    }
}